

body{
    margin: 0cm;
}

h1,h2,h3,h4,h5{
    font-family: 'Fjalla one', sans-serif;
}

.cover {
    height: 400px;
    background-image: url("./imagenes/Cafe.jpg");
    background-size: cover;
    color: white;
    background-position: center;
    background-blend-mode: darken;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0,2px 4px -1px rgba(0, 0, 0, 0.06); 
}

.card{
    position: relative;
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.cover-small{
    height: 200px;
    background-blend-mode: normal;
}

.card-title{
    min-height:3rem;
}

.card-text{
    min-height: 10rem;
}