

body{
    margin: 0cm;
}

.cover {
    height: 400px;
    background-image: url("./imagenes/Cafe.jpg");
    background-size: cover;
    color: white;
    background-position: center;
    background-blend-mode: darken;
}